p {
  margin-bottom: 15px;
  font-size: 1rem;
}

.limitar {
  max-width: 620px;
  margin: 0 auto;
}

.seccion-flex h3,
p {
  color: #222;
  margin-bottom: 10px;
}

h3 {
  color: #222;
  padding-bottom: 10px;
  
}

.seccion-flex {
  display: flex;
  margin-top: 60px;
  width: 100%;
  background-color: #a6e0d1;
  justify-content: space-between;
  border-radius: 10px;
  padding: 20px;
  padding-left: 100px;
  padding-right: 100px;
  align-items: center;
  transition: all 0.3s ease;
  flex-wrap: wrap; /* opcional: permite que el contenido baje si no cabe horizontalmente */
}
.mensaje {
  padding-left:130px;
  padding-right:130px;

}

.contenedor-img {
  margin: 10px;
  margin-left: 250px;
  margin-right: 250px;

  width: 600px;
  height: 320px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.contenedor-img img {

  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sobreMi {
  display: flex;
  margin-top: 60px;
  width: 100%;
  height: 320px;
  background-color: #a6e0d1;
  justify-content: space-between;
  border-radius: 10px;
  padding: 20px;
  padding-left: 210px;
}

.miFoto {
  display: flex;
  padding-right: 130px;
}
